@import "mocha.css";

/** Global **/
* {
    color: @text;
    border: none;
    border-radius: 0;
    font-family: "FiraMono Nerd Font", "FiraMono Nerd Font Mono", monospace;
    font-size: 12px;
    min-height: 0;
}
window#waybar {
    background-color: @surface0;
    padding: 0;
    margin: 0;
}

/** Tooltips **/
tooltip {
    background: @crust;
    color: @text;
}

/** All modules **/
#workspaces,
#taskbar,
#image,
.album-art-spotify,
.album-art-youtube,
#custom-spotify,
#custom-youtube,
#tray,
#idle_inhibitor,
#pulseaudio,
#pulseaudio-slider,
#bluetooth,
#network,
#custom-nmvpn,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#custom-weather,
#clock,
#custom-wlogout {
    padding: 0px 8px;
}

/** ==========
    Start LEFT
    ========== **/

/** Workspaces **/
#workspaces {
    padding: 3px;
    margin: 0px 0px 0px 3px;
    padding: 0px 3px 0px 3px;
}
#workspaces button {
    font-size: 12px;
    padding: 10px 4px 10px 0px;
    background-color: transparent;
    border: none;
    color: white;
}
#workspaces button:hover {
    border-bottom-color: @lavender;
    color: @lavender;
}
#workspaces button.active {
    border-bottom-color: @lavender;
    color: @lavender;
}
#workspaces button.urgent {
    border-bottom-color: @red;
    color: @red;
}
#workspaces button.persistant {
    /**
    border-bottom-color: @lavender;
    color: @lavender;
    **/
}
#workspaces button.hidden {
}

/** Taskbar **/
#taskbar {
    padding: 0px;
    color: @crust;
}
#taskbar button.active {
    background: @lavender;
    color: @crust;
}
#taskbar button.fullscreen {
    background: @green;
    color: @crust;
}
#taskbar button.maximized {
    background: @blue;
    color: @crust;
}
#taskbar button.minimized {
    background: @crust;
    color: white;
}
#taskbar.empty {
    padding: 5px;
}

/** Image Album art **/
#image {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 3px;
}
.album-art-spotify {
    background-color: @green;
    margin-right: 0px;
}
.album-art-youtube {
    background-color: @red;
    margin-right: 0px;
}
#image.empty {
    background-color: transparent;
}

/** Spotify **/
#custom-spotify {
    background-color: @green;
    color: @crust;
    padding-left: 0px;
}

/** Youtube **/
#custom-youtube {
    background-color: @red;
    color: @crust;
    padding-left: 0px;
}

/** ========
    End LEFT
    ======== **/

/** ============
    Start CENTER
    ============ **/

/** Window **/
#window {
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

/** ==========
    End CENTER
    ========== **/

/** ===========
    Start RIGHT
    =========== **/

/** Tray **/
#tray {
    border-radius: 10px;
    margin-right: 5px;
    min-width: 10px;
    background-color: transparent;
    border: 0px;
}

/** Idle Inhibitor **/
#idle_inhibitor {
    border-radius: 10px 0px 0px 10px;
    margin-right: 5px;  
}

/** Bluetooth **/
#bluetooth.connected {
    background-color: @green;
    color: @crust;
}
#bluetooth.on {
    color: @blue;
}
#bluetooth.off {
    color: @red;
}

/** PulseAudio **/
#pulseaudio {
    color: @blue;
    border-left: 0px;
    border-right: 0px;
}
#pulseaudio.microphone {
    padding-left: 0;
}

/** Network **/
#network {
    color: @green;
}

/** VPN **/
#custom-nmvpn {
    color: @green;
}

/** CPU **/
#cpu {
    color: @lavender;
    border-right: 0px;
    padding-right: 4px;
}

/** Memory **/
#memory {
    color: @lavender;
    border-right: 0px;
    border-left: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

/** Temperature **/
#temperature {
    color: @lavender;
    border-left: 0px;
    padding-left: 4px;
}
#temperature.critical {
    color: @crust;
    background-color: @red;
}

/** Battery **/
#battery {
    color: @green;
    border-left: 0px;
}

/** Weather **/
#custom-weather {
    color: @crust;
    background-color: @red;
    padding-left: 5px;
}

/** Clock **/
#clock {
    color: @crust;
    background-color: @red;
}

/** Custom Events **/
#custom-events {
    background-color: @red;
    color: @crust;
    padding-right: 6px;
}

/** wlogout **/
#custom-wlogout {
    margin-right: 4px;
    border-radius: 0px 10px 10px 0px;
}

/** =========
    End RIGHT
    ========= **/
